%p
  = t("Hello", appeal: (@resource.try(:appeal) || @resource.email)).html_safe
%p
  = t("reset_password_mailer_notice", url: url_for(:root),  link: link_to(t('Change my password'), edit_password_url(@resource, reset_password_token: @token))).html_safe
%p
  = t("ignore_mail_if_didn't_request").html_safe

